<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <div id="queue_area">
        <b>Queue</b>
        <div id="queue"></div>
    </div>
    <div id="cdss_area" hidden>
        <div id="cdss">CDSS content here</div>
        <input id="chat-message-chat" type="button" value="Chat" />
        <input id="chat-message-unreserve" type="button" value="Unreserve" />
    </div>
    <div id="chat_area" hidden>
        <textarea id="chat-log" cols="100" rows="20"></textarea><br />
        <input id="chat-message-input" type="text" size="100" /><br />
        <input id="chat-message-send" type="button" value="Send" />
        <input id="chat-message-exit" type="button" value="Exit" />
    </div>
</body>
<script>
var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/doctor/');

function viewArea(areaId) {
    document.querySelector('#queue_area').hidden = true;
    document.querySelector('#chat_area').hidden = true;
    document.querySelector('#cdss_area').hidden = true;
    document.getElementById(areaId).hidden = false;
}


// Deal with queue button press
var queueElement = document.querySelector('#queue');
queueElement.addEventListener('click', function(ev) {
    if (ev.target.tagName === 'P') {
        chatSocket.send(JSON.stringify({ 'action': 'reserve', 'message': ev.target.id }));
        viewArea("cdss_area")
    }
}, false);

// Update queue items
function updateQueue(queueData) {
    queueElement.innerHTML = '';
    for (i in queueData) {
        var item = document.createElement("p");
        item.innerHTML = queueData[i];
        item.id = queueData[i];
        queueElement.appendChild(item);
    }
}

// Route incoming message
chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    console.log(data);
    if (data.action == "queue") {
        updateQueue(data.message);
    } else if (data.action == "chat") {
        document.querySelector('#chat-log').value += (data.message + '\n');
    } else {
        console.error("Unsupported message type")
        console.error(data)
    }
};

// Deal with disconnect
chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

// Make enter key send the message
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) { // enter, return
        document.querySelector('#chat-message-send').click();
    }
};

document.querySelector('#chat-message-unreserve').onclick = function(e) {
    viewArea("queue_area")
    chatSocket.send(JSON.stringify({ 'action': 'unreserve' }));
};

document.querySelector('#chat-message-chat').onclick = function(e) {
    viewArea("chat_area")
    chatSocket.send(JSON.stringify({ 'action': 'start_chat' }));
};

document.querySelector('#chat-message-send').onclick = function(e) {
    var messageInputDom = document.querySelector('#chat-message-input');
    chatSocket.send(JSON.stringify({ 'action': 'chat', 'message': messageInputDom.value }));
    messageInputDom.value = '';
};

document.querySelector('#chat-message-exit').onclick = function(e) {
    viewArea("queue_area")
    chatSocket.send(JSON.stringify({ 'action': 'end_chat' }));
    document.querySelector('#chat-log').value = '';
    document.querySelector('#chat-message-input').value = '';
};
</script>

</html>