<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Patient</title>
</head>

<body>
    <h2>Quro Chat - Patient Site</h2>
    <div id="spin" hidden></div>
    <p id="startMessage">You are in the queue. A doctor will be with you soon.</p>
    <div id="chatArea" hidden>
        <textarea id="chatLog" cols="100" rows="20"></textarea><br />
        <input id="chatMessageInput" type="text" size="100" /><br />
        <input id="chatMessageSubmit" type="button" value="Send" />
    </div>
</body>
<script>
const browserTabId = Math.random().toString(36).substring(2);
var waitTimeout;
var chatSocket;


function connect() {
    chatSocket = new WebSocket('ws://' + window.location.host + '/ws/patient?browser=' + browserTabId);
    function viewArea(areaId) {
        document.querySelector('#spin').hidden = (areaId != "spin");
        document.querySelector('#startMessage').hidden = (areaId != "startMessage");
        document.querySelector('#chatArea').hidden = (areaId != "chatArea");
    }

    chatSocket.onopen = function (e) {
        viewArea("startMessage");
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);

        if (data.action == 'start_chat'){
            viewArea("chatArea")
            clearTimeout(waitTimeout);
        } else if (data.action == 'queue'){
            document.querySelector('#startMessage').innerHTML = data.message;
        } else if (data.action == 'reserve'){
            viewArea("startMessage")
            clearTimeout(waitTimeout);
            document.querySelector('#startMessage').innerHTML = "A doctor is viewing your case now.";
        } else if (data.action == 'chat'){
            document.querySelector('#chatLog').value += (data.message + '\n');
        } else if (data.action == 'end_chat'){
            document.querySelector('#chatLog').value += ('The doctor has ended the chat\n');
            document.querySelector('#chatMessageInput').hidden = true;
            document.querySelector('#chatMessageSubmit').hidden = true;
        } else if (data.action == 'wait') {
            viewArea("spin")
            waitTimeout = setTimeout(function(){
                alert("The doctor lost connectivity.");
                chatSocket.send(JSON.stringify({'action':'wait_timeout'}));
            }, 10000);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        viewArea("spin");
        setTimeout(function() {
            console.log("Trying to reconnect")
            connect();
        }, 2000);
    };

    document.querySelector('#chatMessageInput').focus();
    document.querySelector('#chatMessageInput').onkeyup = function(e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chatMessageSubmit').click();
        }
    };
    document.querySelector('#chatMessageSubmit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chatMessageInput');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({'action':'chat', 'message': message}));
        messageInputDom.value = '';
    };
}

connect();
</script>
<style type="text/css">#spin{width:40px;height:40px;background-color:#333;margin:100px auto;-webkit-animation:sk-rotateplane 1.2s infinite ease-in-out;animation:sk-rotateplane 1.2s infinite ease-in-out}@-webkit-keyframes sk-rotateplane{0%{-webkit-transform:perspective(120px)}50%{-webkit-transform:perspective(120px) rotateY(180deg)}100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg)}}@keyframes sk-rotateplane{0%{transform:perspective(120px) rotateX(0) rotateY(0);-webkit-transform:perspective(120px) rotateX(0) rotateY(0)}50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0);-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0)}100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg)}}</style>
</html>